.thumbnail img {
    width: 100%;
}

.featured-campground-image {
    height: 230px;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}


#map {
    height: 400px;
    width: 100%;
}