#landing-header {
  font-family: 'Special Elite';
}

html {
  background-color: #FBEEC1;
}

.thumbnail img {
    width: 100%;
}

.featured-campground-image {
    height: 230px;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}


#map {
    height: 400px;
    width: 100%;
}

#campground-name {
    color: white;
    text-decoration: none;
}

.thumbnail.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

.thumbnail.item {
  background-color: #379683;
}

.thumbnail.item i {
    color: #379683;
}

.thumbnail.item:hover img {
  opacity: 0.6;
  filter: grayscale(100%);
}

.thumbnail.item * {
  transition: all .35s ease-in-out;
}

.thumbnail.item i {
  transform: translate(-50%, -95%) scale(0);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.thumbnail.item:hover i {
  transform: translate(-50%, -95%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checked {
    color: orange;
}